.main {padding:5px 8px 5px;min-height:46px;width:240px;margin:0 auto;}
.search {position: fixed;}
#result {margin-top:37px;}
.defBarTitle {float: left;font-size: 12pt;font-weight: bolder;}
.defBarProns {float: left;padding-left: 15px;padding-top: 2px;font-family: "lucida sans unicode",Tahoma;font-size: 10pt;}
.defPos {overflow: hidden;float: left;color: #F56C17;height: auto;font-family: Arial;font-size: 12pt;font-weight: bolder;}
.dictbarcont{overflow:hidden;}
.defCnt {clear:both;padding-left: 25px;}
